.pagina-servico {

        overflow: hidden;

        .secaoserviço {

                display: flex;
                flex-direction: column;
                padding: 100px;

                span {
                        color: #5FFF69;
                }

                h2 {
                        font-size: 30px
                }

                p {
                        font-size: 21px;
                        //color: #424344;
                }
        }

        .secaodev {
                display: flex;
                flex-direction: row;
                padding: 100px;
                margin-top: -100px;

                h3 {
                        font-size: 30px;
                }

                p {
                        font-size: 21px;
                }

                li {
                        font-size: 21px;

                        span {
                                font-weight: 700;
                                color: #f82863;
                        }
                }

                li::marker {
                        color: #f82863;
                }

                .text {
                        display: flex;
                        flex-direction: column;
                }

                .text2 {
                        padding: 15px 0px;
                }

                .imagem {
                        width: 400px;
                }
        }

        .secaodev2 {
                display: flex;
                flex-direction: row-reverse;
                padding: 100px;
                margin-top: -130px;

                h3 {
                        font-size: 30px;
                }

                p {
                        font-size: 21px;
                }

                li {
                        font-size: 21px;

                        span {
                                font-weight: 700;
                                color: #f82863;
                        }
                }

                li::marker {
                        color: #f82863;
                }

                .text {
                        display: flex;
                        flex-direction: column;

                        .text2 {
                                display: flex;
                                flex-direction: column;
                                gap: 20px;
                                text-align: right;

                                h3{
                                        align-self: center;
                                        position: relative;
                                        left: 30px;
                                }
                        }
                }

                .text3 {
                        padding: 15px 0px;
                }

                .imagem {
                        width: 400px;
                }

        }

        .secaoreact{
                display: flex;
                flex-direction: row;
                padding: 150px;
                margin-top: -195px;

                h3{
                        font-size: 30px;
                }

                p{
                        font-size: 21px;
                }

                li{
                        font-size: 21px;
                }

                li::marker {
                        color: #f82863;
                }

                span{
                        color: #f82863;
                        font-weight: 700;
                }

                .text3{
                        display: flex;
                        flex-direction: column;
                }

                .img{
                        width: 450px;
                        position: relative;
                        left: 90px;
                }
        }

        .mark{
                display: flex;
                flex-direction: column;
                padding: 100px;
                margin-top: -80px;

                span{
                        color: #5FFF69;
                }

                h2{
                        font-size: 30px;
                }

                p{
                        font-size: 21px;
                }
        }
}