.pagina-inicio {
  background-image: url(../../../public/assets/images/circuito.png);
  background-size: cover;

  .secaoinicial {
    color: white;
    font-family: 'roboto';

    .titulo {
      font-size: 160px;
      color: #5FFF69;
    }

    .slogan {
      padding: 10px 500px;
    }

  }

  .secoes1 {
    color: white;
    gap: 200px;

    .secao {

      .titulo {
        color: #F82863;
        font-size: 40px;
      }

      .descriçao {
        font-size: 20px;
        padding: 10px 20px;
      }
    }

  }

  .rodape {
    height: 430px;
    background-color: #5FFF69;
    display: flex;
    align-items: end;
  }
}