* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    
}

a {
    color: inherit;
    color: white;
    text-decoration: none;
}

.pagina {


    .cabecalho {
        display: flex;
        justify-content: space-evenly;


        

        background-color: black;
        padding: 28px 250px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

        
    }

    .secaoinicial {
        display: flex;
        flex-direction: column;
        justify-content: center;

        
        text-align: center;
        padding: 150px 20px 0px;
    }

    .secoes1 {
        display: flex;
        flex-direction: column;
        gap: 100px;

        padding: 100px 10px;
        margin: 200px;
    }

    .secoes2 {
        display: flex;
        flex-direction: column;
        gap: 100px;

        padding: 10px;
        margin: 100px 200px;
        
        }




    .rodape {
        background-color: #5FFF69;
        display: flex;
        align-items: end;
    }
    
}