.cabecalho-sapo {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.432);
    padding: 65px;
    font-size: 20px;

    .linkess{
        display: flex;
        flex-direction: row;
        position: relative;
        left: 250px;
       
        .linkass{
            display: flex;
            flex-direction: row;
            gap: 150px;
        }
    }

    .logo {
        img{
            width: 109.9px;
            height: 85.71px;
        }
    }
}